apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
  namespace: vote
spec:
  replicas: "{{ .Values.image_vote.replicas}}"
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - image: "{{ .Values.image_vote.repository}}:{{ .Values.image_vote.tag}}"
        imagePullPolicy: {{ .Values.image_vote.pullPolicy }}
        name: vote
        ports:
        - containerPort: 80
          name: vote
